body {
  font-family: "outfit";
  font-weight: 400;
  background-color: hsl(30, 54%, 90%);
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

section {
  margin: 0;
  margin-top: 1rem;
}

p {
  font-size: 16px;
}

h1 {
  font-family: "young serif";
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  margin: 0;
}

hr {
  width: 100%;
  border: 1px solid hsl(30, 18%, 87%);
}

/* Global List Styles */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: outside;
  padding-left: 1.5rem;
}

li {
  margin-top: 0;
  padding: 0.5rem;
  padding-left: 1rem;
}

li::marker {
  color: hsl(14, 45%, 36%);
}

/* End */

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  width: 45vw;
  background-color: #fff;
  padding: 2rem 2rem;
  margin: 5rem;
  border-radius: 20px;
}

/* Global List Styles */
.section-headings {
  font-family: "young serif";
  font-weight: 400;
  color: hsl(14, 45%, 36%);
  margin-bottom: 0;
}

.list-lables {
  font-weight: 700;
  color: hsl(30, 10%, 34%);
}

/* Summary Section Styles */
.summary {
  padding: 1rem;
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
  width: 100%;
  padding-right: 0;
}

.prep-time {
  color: hsl(332, 51%, 32%);
  margin-bottom: 0;
}

.prep-list {
  margin-top: 0;
  margin-bottom: 0;
}

.summary ul li::marker {
  color: hsl(332, 51%, 32%);
}

/* Instructions Section Styles */
.instructions li {
  padding-top: 0;
  padding-bottom: 0;
}

/* Nutrition Section Styles */
.nutrition p {
  margin-bottom: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 1rem;
  border-bottom: 1px solid hsl(30, 18%, 87%);
  text-align: left;
}

.tbl-data {
  color: hsl(14, 45%, 36%);
}

tr:last-child td {
  border-bottom: none;
}

/* Footer styles */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.outfit-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400, 600, 700;
  font-style: normal;
}

/* Mobile Styles */
@media (max-width: 560px) {
  .container {
    margin: 0;
    width: 100vw;
  }
}
